* {
  margin: 0;
  padding: 0;
}
div.parent{
  width: 500px;
  height: 300px;
  background-color: blueviolet;
  margin: 50px auto;

}
.up{
  background-color: crimson !important;
}
body{
  width: 100%;
  height: 100vh;
}